html,body
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
header a
{
	text-decoration: none;
}
.nameandlogo h1
{
	font-family: 'Permanent Marker', cursive;
	color:black;
	margin-top: 0;
	margin-bottom: -16px;
	font-size: 50px;
	padding-top: 40px;
	text-align: center;
	height: 100px;
	background: linear-gradient(90deg, rgba(58,128,146,1) 0%, rgba(205,245,247,1) 0%, rgba(8,144,129,1) 42%, rgba(152,161,134,1) 80%);
}
ul
{
	list-style: none;
}
nav
{
	width: 100%;
	height:auto;
	background-color: #edd46f;
}
header li 
{
	text-decoration: none;
	color: black; 
}
header nav ul
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 9px;
	margin: auto;
}
header nav li
{
	text-decoration: none;
	font-size: 27px;
}
header nav a
{
	text-decoration: none;
	color: #04455e;
	font-family: 'Josefin Sans', sans-serif;
}
nav a:hover 
{
  background-color: #9bcfcf;
  color: white;
}
main 
{
	width: 90%;
	margin: auto;
	margin-top: 50px;
}
main ul
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}
.cameraList a
{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.cameraList a p:hover
{
	text-decoration: underline;
	color: blue;
}
.cameraList
{
	width:40%;
	height:auto;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
	box-shadow:inset 0 -3em 3em rgba(0,0,0,0.1),0 0  0 2px rgb(255,255,255),0.3em 0.3em 1em rgba(0,0,0,0.3);
}
h2
{
	font-size: 30px;
	font-weight: bold;
	font-family: "Josefin Sans" 
}
img
{
	width:80%;
	height:auto;
}
img:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.cameraList p
{
	font-size: 18px;
	font-family: "Nerko One";
}
.button
{
	margin-top: 30px; 
	margin-bottom: 30px;
	border-radius: 25px;
	background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
	border: none;
	transition-duration: 0.4s;
	color: #FFFFFF;
 	padding: 14px 28px;
 	font-size: 16px;
  	cursor: pointer;
  	display: inline-block;
}
.button:hover
{
	text-decoration: underline;
	border:3px solid #248f8f;
}
footer
{
	width: 100%;
	height: 150px;
	text-align: center;
	padding-bottom: 0px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	background: linear-gradient(90deg, rgba(58,128,146,1) 0%, rgba(205,245,247,1) 0%, rgba(8,144,129,1) 42%, rgba(152,161,134,1) 80%);
}
#logosfooter
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 30%;
	margin: auto;
}
#logosfooter i
{
	font-size: 30px;
	color: black;
	cursor: pointer;
}
#logosfooter i:hover
{
	color: white;
}
footer p
{
	font-size: 19px;
	margin-top: 10px;
	font-family: "Nerko One";
}
#maincontainer
{
	width: 80%;
}
#maincontainer h2
{
	text-align: center;
	font-size: 45px;
	color: gray;
}
.productDetails
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#right
{
	width: 50%;
	font-family:"Nerko One";
	font-size: 20px;
	display: flex;
	flex-direction: column;
}
#left
{
	width: 50%;
	text-align: center;
}
#left p
{
	font-size: 30px;
	font-family: "Josefin Sans";
}
.productDetails h2
{
	font-size: 35px;
	text-align: center;
}
.productDetails img
{
	width: 80%;
	margin: auto;
}
#addToCart
{
	margin-left: 40%;
}
#maincontainer footer
{
	position: fixed;
   	bottom:0;
}
#mainContainerCart
{
	width: 100%;
	font-size: 20px;
	display: flex;
	flex-direction: column;
}
#headingCart
{
	visibility: hidden;
	width:90%;
	margin: auto;
	margin-top: 30px;
	font-size: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#headingCart li
{	
	text-decoration: underline;
	font-family: "Nerko One";
}
#mainContainerCart ul
{
	font-size: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#mainContainerCart ul li
{
	width: 30%;
	text-align: center;
}
#mainContainerCart li img
{
	width: 100px;
	height: 100px;
}
.cartProduct
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#checkoutSection
{
	visibility: hidden;
	text-align: center;
	margin: 50px 0px 50px 0px;
}
#totalcart
{
	font-size: 20px;
	font-family: "Nerko One";
	text-align: right;
	padding-right: 50px;
}
form 
{
	width: 60%;
  	padding: 16px;
  	margin:auto;
  	display: none;
}

.formHeading
{
	text-align: center;
}
.formBody
{
	text-align: left;
}
input 
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input:focus
{
  background-color: #ddd;
  outline: none;
}
.submitbtn
{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.submitbtn:hover
{
  opacity:1;
}
#mainOrder
{
	text-align: center;
	padding-top: 40px;
	margin-top: 100px;
	margin-bottom: 100px;
	height: 50px;
	width: 80%;
	background: #fae7d9;
}
#lenses p
{
	display: flex;
	flex-direction: column;
}
#total
{
	margin-bottom: 150px;
	text-align: center;
}
@media (max-width: 1024px)
{
	main
	{
		width: 80%;
	}
	main ul
	{
		flex-direction: column;
		padding-left: 0px;
		align-content: center;
	}
	main ul .cameraList
	{
		width: 90%;
	}
}
@media (max-width: 768px)
{
	.nameandlogo h1
	{
		font-size: 35px;
	}
	header nav ul
	{
		height: auto;
		display: flex;
		flex-direction: column;
	}
	header nav li
	{
		padding-bottom: 10px;
	}
	main
	{
		width: 100%;
	}
	.productDetails
	{
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	#right
	{
		width: 100%;
	}
	#left
	{
		width: 100%;
		text-align: center;
	}
	#addToCart
	{
		margin-left: 30%;
	}
	#headingCart
	{
		font-size: 16px;
	}
	#headingCart
	{
		display: flex;
		justify-content: space-around;
	}
	#mainContainerCart ul
	{
		width: 100%;
		display: flex;
		justify-content: space-around;
		font-size: 14px;
	}
	#mainContainerCart ul img
	{
		height: 50px;
		width: 50px;
	}
}
@media (max-width: 480px)
{
	.nameandlogo h1
	{
		font-size: 25px;
	}
	header nav li
	{
		padding-bottom: 10px;
		font-size: 18px;
	}
	#mainOrder
	{
		height: auto;
		width: 90%;
		padding-bottom: 30px;
	}
}
@media (max-width: 360px)
{
	#logosfooter i
	{
		font-size: 20px;
	}
}